/* .navbar{
     background: linear-gradient(0deg, #dad7dd, #8f95a2); /* violet to blue */
  /* color: white;
   
} */ */
/* .nav-link{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
} */

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.input-field input, textarea{
    border: 1px solid black;
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    /* height: 50px; */
    
}
.input-field label{
    color: rgb(134, 130, 130);
    font-weight: bold;
    padding-bottom: 8px;
}
.button-btn{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 50px;
    border: solid 1px;
    border-radius: 4px;
     background: linear-gradient(to right, #f4f1f7, #dae0e9);
    color: rgb(82, 68, 68);
    padding: 5px;
}
/* .nav-link .search-icon{
    background-color: transparent;
    border: 0px;
} */
.pagination-btn{
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid #b7b7b7 1px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 50px;
   
    
}
.div-cursor{
    cursor: pointer;
}




.navbar-brand:hover {
  text-decoration: none;
  opacity: 0.9;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}

header {
  background-color: #dad7dd;
}
.home-page{
    background: linear-gradient(0deg, #8f95a2 ,  #dad7dd);
}

h2 {
  font-size: 2rem;
  color: #333;
}

.text-muted {
  font-size: 0.95rem;
}
